<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Character Sheet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
This is the character sheet for the plugin.
<form action="post" id="characte-form" th:object="${character}">
    <label for="first-name">First Name</label><br/>
    <input type="text" name="First Name" id="first-name" th:value="${character != null ? character.firstName : ''}" th:field="*{firstName}"/><br/>
    <label for="second-name">Last Name</label><br/>
    <input type="text" name="Second Name" id="second-name" th:value="${character != null ? character.secondName : ''}" th:field="*{secondName}"/><br/>
    Address<br/>
    <label for="street">Street</label><br/>
    <input type="text" name="Street" id="street" th:value="${character != null and character.address != null ? character.address.street : ''}" th:field="*{address.street}"/><br/>
    <label for="city">City</label><br/>
    <input type="text" name="City" id="city" th:value="${character != null and character.address != null ? character.address.city : ''}" th:field="*{address.city}"/><br/>
    <label for="state">State</label><br/>
    <input type="text" name="State" id="state" th:value="${character != null and character.address != null ? character.address.state : ''}" th:field="*{address.state}"/><br/>
    <div th:switch="${character.id == null}">
        <p th:case="true">
            <input type="submit" th:formaction="${'/games/'+ author + '/' + game + '/' + version + '/'}"
                   formmethod="post"
                   value="Create">
        </p>
        <p th:case="false">
            <input type="submit" th:formaction="${'/games/'+ author + '/' + game + '/' + version + '/' + character.id}"
                   formmethod="put" value="Save">)
        </p>
    </div>
    <script>
        var character = function(){
        return {
                firstName : $("#first-name").val(),
                secondName : $("#second-name").val(),
                address : {
                    street : $("#street").val(),
                    city : $("#city").val(),
                    state : $("#state").val()
                }
            }
        }
    </script>
</form>
</body>
</html>